<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="panel panel-success">
            <div class="panel-heading">Panel with panel-success class</div>
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="row">
          <div class="panel panel-info">
            <div class="panel-heading">Animate CSS samples</div>
            <div class="panel-body">
              <p class="animated" ng-class="{infinite: infinite, bounce: vm.bounce, flash: vm.flash, swing: vm.swing}">AnimateCSS is awesome</p>
              <div class="btn-group">
               <button type="button" class="btn btn-primary" ng-click="vm.animate('bounce')">Bounce!</button>
               <button type="button" class="btn btn-primary" ng-click="vm.animate('flash')">Flash!</button>
               <button type="button" class="btn btn-primary" ng-click="vm.animate('swing')">Swing!</button>
             </div>
             <label>
               <input type="checkbox" ng-model="infinite">
               infinite loop
            </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-danger">
            <div class="panel-heading">Notify sandbox</div>
            <div class="panel-body">
              <button type="button" class="btn btn-success" ng-click="vm.notify()">Notice me senpai!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
