.item-container {
  padding: 0 25px;
  background-color: #ededed;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.item-container img {
  display: block;
  margin: auto;
  width: 40%;
}
